<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
    {{>header}}
    <h1>{{pageTitle}}</h1>
    <p>some paragrapg here .</p>
    <p>{{screamIt "messagehere"}}</p>
    {{>footer}}
  </body>
</html>
